snippet vue3
	<script setup lang="ts">
	${1:// component logic}
	</script>

	<template>
	  <div>
	    ${2:content}
	  </div>
	</template>

snippet vref
	const ${1:name} = ref(${2:value})

snippet vcomputed
	const ${1:computed} = computed(() => ${2:value})

snippet vprops
	interface Props {
	  ${1:prop: string}
	}

	const props = defineProps<Props>()

snippet vwatch
	watch(${1:source}, (${2:value}, ${3:oldValue}) => {
	  ${4:// logic}
	})